DEBUG=True
SECRET_KEY=django-insecure-replace-me-with-secure-key
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DATABASE_URL=postgresql://user:password@host:port/dbname?sslmode=require

YOUTUBE_CLIENT_ID=
YOUTUBE_CLIENT_SECRET=
YOUTUBE_REDIRECT_URI=
YOUTUBE_REFRESH_TOKEN=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_ENDPOINT_URL=
AWS_S3_REGION_NAME=
AWS_STORAGE_BUCKET_NAME=

# Email Settings
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp-relay.brevo.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_HOST_USER=b26efb001@smtp-brevo.com
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=Revotic AI Pvt. Ltd. <contact@revoticai.com>
SERVER_EMAIL=contact@revoticai.com
REPLY_TO_EMAIL=contact@revoticai.com

CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=
